#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game-container {
    background-image: url('/screenshort.png'); /* Public folder mein rakhein */
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#scoreBox, #hiscoreBox {
    position: absolute;
    right: 10%;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Lora', serif;
}

#scoreBox { top: 10px; }
#hiscoreBox { top: 60px; }

#board {
    background-color: rgb(158, 205, 158);
    width: 90vmin;
    height: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.snake {
    background-color: rgb(181, 91, 181);
    border: .25px solid white;
    border-radius: 9px;
}

.head {
    background-color: red;
    border: 2px solid purple;
    transform: scale(1.05);
    border-radius: 9px;
}

.food {
    background-color: rgb(19, 19, 18);
    border: .25px solid black;
    border-radius: 50%; /* Gol apple jaisa */
}